<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ item.title }} - Monkey Square</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/monkeysquare.css">

    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/zln0alj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <header>
      <div class="container_16">
        <a id="logo" href="/"><img src="/img/logo.png" alt="Monkey Square" width="185" height="61" /></a>
        <nav>
          <ul>
            <li{% if item.nav == 'home' %} class="selected"{% endif %}>
              <a href="/">Home</a>
            </li>
            <li{% if item.nav == 'shop' %} class="selected"{% endif %}>
              <a href="//shop.monkeysquare.org/">The Shop</a>
            </li>
            <li{% if item.nav == 'donate' %} class="selected"{% endif %}>
              <a href="/donate">Donate</a>
            </li>
            <li{% if item.nav == 'about' %} class="selected"{% endif %}>
              <a href="/about">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {{ content }}

    <footer>
      <div id="footer-top">
        <div class="container_16">
          <div class="grid_9">
            <h3>From the <strong>Community</strong></h3>
            <div class="module-community">
              <ul>
                <li>MonkeySpace, Mono 3.0, Tomboy and Banshee!  <a href="http://worldofgnome.org/monkeyspace-mono-3-0-tomboy-and-banshee/">View...</a></li>
                <li>Open source and .NET at MonkeySpace 2012  <a href="http://blog.phault.net/2012/10/open-source-and-net-at-monkeyspace-2012/">View...</a></li>
                <li>MonkeySpace shines a light on the future of .NET OSS  <a href="http://haacked.com/archive/2012/10/21/monkeyspace-dotnet-oss.aspx">View...</a></li>
                <li>MonkeySpace brings the Open Source .NET community to Boston this October  <a href="http://blog.xamarin.com/monkeyspace-brings-the-open-source-net-community-to-boston-this-october/">View...</a></li>
                <li>The Conference Formerly Known As Monospace <a href="http://ragan.io/log/the-conference-formerly-known-as-monospace/">View...</a></li>
                <li>Monospace 2012  <a href="http://ragan.io/log/monospace-2012/">View...</a></li>
                <li>Xamarin Q/A at Monospace 2011  <a href="http://coderinserepeat.com/blog/archive/2011/Aug-05.html">View...</a></li>
                <li>On Monospace 2011  <a href="http://www.gregshackles.com/2011/07/on-monospace-2011/">View...</a></li>
                <li>Monospace is Shipping Up To Boston  <a href="http://ragan.io/log/monospace-is-shipping-up-to-boston/">View...</a></li>
                <li>Monospace Refresh!  <a href="http://ragan.io/log/monospace-refresh/">View...</a></li>
              </ul>
            </div>
          </div>
          <div class="grid_6 prefix_1">
            <h3>From Our <strong>Twitter</strong></h3>
            <div class="module-twitter">
              <ul id="tweets">
              </ul>
            </div>
            <a href="/donate" class="module-donate">Please help us out and donate</a>
          </div>
        </div>
      </div>
      <div id="footer-bottom">
        <div class="container_16">
          <div class="grid_8">
            Copyright 2012 - Monkey Square, Inc - All rights reserved
          </div>
        </div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="/js/twitter.js"></script>
    <script type="text/javascript">
      $(function() {
        getTwitterFeed("MonkeySquareOrg", 4, false);
      });
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37638044-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
